<div id="layout">
    <header id="layout-header"></header>
    <main id="layout-main"><div id="outline">
            <span id="heading-1">direct in layout's slot</span>
            <div id="outline">
                <span id="heading-2">in another outline, itself inside layout's slot</span>
            </div>
            <section id="panel" data-title="untitled">
                <span id="heading-1">inside a panel that is inside layout's slot</span>
                <div id="outline">
                    <span id="heading-2">inside an outline inside that panel</span>
                </div>
            </section>
        </div>
    </main>
    <aside id="layout-own">own</aside>
</div>
